* {
    box-sizing: border-box;
}
body {
    width: 1280px;
    display: block;
    margin: auto;
    font-family: "PTMono";
    background-color: black;
}
.firstblock {
color: #E1E1E1;
position: absolute;
margin-top: 75px;
margin-right: 75px;
margin-bottom: 75px;
margin-left: 75px;
}
.firstblock div:nth-last-of-type(1) p {
font-size: 27px;
margin-top: 25px
}
.firstblock div:nth-last-of-type(2) p {
font-size: 20px;
}

.block-2 img {
position: absolute;
margin-top: 200px;
margin-right: 380px;
margin-bottom: 380px;
margin-left: 430px;
}
h2 {
color: #E1E1E1;
font-size: 40px;
position: absolute;
margin-top: 800px;
margin-right: 500;
margin-bottom: 680px;
margin-left: 380px;
}
h1
{
    color: #E1E1E1;
    font-size: 140px;    
    position: absolute;
    margin-top: 1100px;
    margin-right: 500;
    margin-bottom: 680px;
    margin-left: 380px;
}
